<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST" style = "display: block;">
        <input type="email" name="email" id="email" placeholder="email"><br><br>
        <input type="password" name="password" id="password" placeholder="password"><br><br>
        <input type="submit" value="Login"><br>
    </form>
        
    <h4>new here!! register here <a href="/signup">Signup</a></h4>
</body>
</html>