<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Register to CodeSynx</h1>
    <h2>Signup</h2>
    <form action="/signup" method="POST">
        <input type="text" name="username" id="username" placeholder="username"><br><br>
        <input type="email" name="email" id="email" placeholder="email"><br><br>
        <input type="password" name="password" id="password" placeholder="password"><br><br>
        <input type="submit" value="Signup">
    </form>

    
    <h4>Aldeady have a account login here <a href="/login">Login</a></h4>
</body>
</html>