<!DOCTYPE html>
<html>
<head>
    <title>CodeSynx</title>
    
</head>

<body>
    <div>
        <h1>Welcome to CodeSynx</h1>
    </div>
    <div>
        <textarea id="codebox" cols="60" rows="40" oninput="managerCode()"></textarea>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script>        
        const link = "http://localhost:4000";
        var socket = io.connect(link);
        //DOM
        var codebox = document.getElementById('codebox');
        var synxid = "<%= synxid %>";
        console.log(synxid);       
        function managerCode(){
            socket.emit('code',{
                code : codebox.value,
                synxid : synxid
            });
        }

        socket.on('code', function(data){
            codebox.value = data.code;
        });

        console.log('fuck off');
    </script>

</body>
