<!DOCTYPE html>
<html>
<head>
    <title>CodeSynx</title>  
</head>
<input type="hidden" id="synxId" value="<%= synxid %>">
<body>
    <div>
        <h1>Welcome to CodeSynx</h1>
    </div>
    <div>
        <textarea id="codebox" cols="60" rows="40" oninput="managerCode()"></textarea>        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src = "http://localhost:4000/socketSynx.js"></script>

</body>
