<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to codesynx</h1>
    <h2>login here : <a href="/login">Login</a></h2>
    <h2>signup here : <a href="/signup">Signup</a></h2>
    <h2>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
        </form>
    </h2>
    <h1>new synx here : <a href="/cs">synx</a></h1>
</body>
</html>