<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INDEX PAGE</h1>
    <h2>SIGN UP HERE : <a href="/signup">signup</a></h2>
    <h2>LOGIN HERE : <a href="/login">login</a></h2>

    <h1>CREATE CODESYNX : <a href="/cs">new</a></h1>
</body>
</html>