<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%= username %> </h1>
    <h2>Here is Your all Codes</h2>
    <hr>
    <% for( let i = 0; i < codeList.length; i++ ) { %>
        <div>
            <h2><%= codeList[i].synxId %> </h2>
            <h3><a href="http://localhost:4000/<%= codeList[i].synxId %> ">visit here</a></h3>
        </div>
        <hr>
    <% } %>
</body>
</html>